body {
			background: #ff00cc;
		}

.non-responsive {
    width: 1290px !important;
}

/* ----- INDEX.HTML ----- */
h1 {
			color: white;
			font-weight: bold;
}

.abs {
    height: 680px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#divBack {
    background-color: #ff00cc;
}

#divLogo {
    background-color: #ff00cc;
    text-align: center;
}

#img {
    display: none;
}

.img-opacity {
    opacity: 0.7;
    margin-top: 60px;
}

.img-opacity:hover {
    opacity: 1;
    border: solid #00ccff 10px;
    transition: 0.2s;
}

#choice1 {
    height: 680px;
    background-color: #ffff00;
    text-align: center;
}

#choice2 {
    height: 680px;
    background-color: #ff00cc;
    text-align: center;
}

/* ----- PIMP.HTML ----- */

#hiddenDiv {
    display: none;
}

#divHeader {
    text-align: center;
    height: 100px;
    background-color: #292928;
    padding-top: 5px;
}

#divHeader h1 {
    color: white;
    font-weight: bold;
}

#divTools {
    height: 577px;
    background-color: #ff00cc;
    padding-top: 30px;
    text-align: center;
}

#divTools h2 {
    color: white;
    font-weight: bold;
}

#divAccs {
    height: 120px;
    background-color: white;
    border-radius: 20px;
}

#divMentor {
    height: 577px;
    background: url("/static/images/background.jpg");
    text-align: center;
}

.btn-center {
    width: 50%;
    color: #fff;
    background-color: #00ccff;
}

.btn-right {
    float: right;
    width: 25%;
}

.btn-left {
    float: left;
    width: 25%;
}

a.btn-music {
    color: #fff;
    background-color: #00ccff;
}

#save {
    background-color: #ffff00;
}

#imgHead {
    transform:translate(-3px, 20px);
}

#glasses {
    position: absolute;
    width: 20%;
    display: none;
    transform: translate(368px, 76px);
}

#dollar {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-350px, 300px);
}

#cap {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-320px, 240px);
}

#divEyes {
    position: absolute;
    top: 0;
    left: 0;
    /*height: 100%;
    width: 100%;*/
}
#imgEyes {
    width: 250px;
    transform: translate(342px, 15px);
}

.img-mentor {
    width: 25%;
}