<!DOCTYPE html>
<html>

<head>
	<title>Pimp Your Mentor</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='custom.css' ) }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
	<div class="container non-responsive">
		<div id="hiddenDiv" class="row">
			<div id="divHeader">
				<h1>Pimp your mentor! Use the toolbar on the left, you can even drag elements!</h1>
			</div>
			<div class="col-xs-3" id="divTools">
				<p>
					<button id="starwars" class="btn btn-default btn-center">HEAD</button>
					<button id="backH" class="btn btn-default btn-left"><span class="glyphicon glyphicon-triangle-left"></span></button>
					<button id="nextH" class="btn btn-default btn-right"><span class="glyphicon glyphicon-triangle-right"></span></button>
				</p>
				<p>
					<button class="btn btn-default btn-center">EYES</button>
					<button id="backE" class="btn btn-default btn-left"><span class="glyphicon glyphicon-triangle-left"></span></button>
					<button id="nextE" class="btn btn-default btn-right"><span class="glyphicon glyphicon-triangle-right"></span></button>
				</p>
				<p>
					<button class="btn btn-default btn-center">BODY</button>
					<button id="backB" class="btn btn-default btn-left"><span class="glyphicon glyphicon-triangle-left"></span></button>
					<button id="nextB" class="btn btn-default btn-right"><span class="glyphicon glyphicon-triangle-right"></span></button>
				</p>
				<br>
				<div class="btn-group btn-group-justified">
					<a id="thuglife" class="btn btn-default btn-music"><span class="glyphicon glyphicon-sunglasses"></span> DEAL WITH IT</a>
					<a id="indian" class="btn btn-default btn-music"><span class="glyphicon glyphicon-music"></span> PANJABI MC</a>
				</div>
				<h2>Accessories</h2>
				<div id="divAccs">
				</div>
				<br>
				<button id="save" class="btn btn-default btn-block"><span class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
				<br>
				<a href="/" class="btn btn-default btn-block">
					<span class="glyphicon glyphicon-home"></span> Home
				</a>
			</div>
			<div class="col-xs-9" id="divMentor">
				<div id="divHead">
					<img id="imgHead" class="img-mentor" src="{{choice}}" alt="">
					<div id="divEyes">
						<img id="imgEyes" class="img-mentor" src="/static/images/eyes0.png" alt="">
					</div>
				</div>
				<div id="divBody">
					<img id="imgBody" class="img-mentor" src="/static/images/body1.png" alt="">
					<div id="cap">
						<img id="imgCap" src="/static/images/fullcap.png" alt="" width="35%">
					</div>
					<div id="dollar">
						<img id="imgDollar" src="/static/images/dollar.png" alt="" width="30%">
					</div>
				</div>
				<div id="glasses">
					<img src="/static/images/glasses.png" alt="" width="60%">
				</div>
			</div>
		</div>
		<script src="/static/html2canvas.js"></script>
		<script src="/static/custom.js"></script>
		<script>
        $(document).ready(function(){
            $("#hiddenDiv").show("slide");
			// SAVE 
			var downloadURL = function(url, name) {
				var link = document.createElement("a");
				link.download = name;
				link.href = url;
				link.click();
          	};
			var $divId = $("#divMentor");
				$('#save').click(function(){
					html2canvas($divId, {
					onrendered: function (canvas) {
							var img = canvas.toDataURL("image/png");
							window.open(img);
							downloadURL(img, "PimpedMentor.png");
						},
					background: "#fff"
					});
            });
			// END SAVE
			// DRAGGABLE
			$( function() {
				$( "#divHead" ).draggable();
				$( "#imgDollar" ).draggable();
				$( "#imgCap" ).draggable();
			} );
			// END DRAGGABLE
        });
    </script>
</body>

</html>